.red {
    border: red solid 3px;
}
.green {
    border: green solid 3px
}

button{
    cursor: pointer;
}
.welcome-page {
    text-align: left;
    margin: 0 !important;
    padding: 0 !important;
    height:600px;
    display: block;
}

.illustration {
    
    background: url('restaurant_img2.jpg') no-repeat center;
    background-size: cover;
    width:60%;
    height: 600px;
    margin: 0 !important;
    float: left;
}

.ovrl-info-and-options{
   
    background-color: #22223b;
    width: 40%;
    height: 600px;
    margin: 0 !important;
    float: right;
}

.ovrl-info-text {
    text-align: left;
    margin-left: 5%;
    width: 90%;
    
}

.heading {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #f2e9e4;
}

.prgr {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #f2e9e4;
}

.slogan {
    font-size:25px;
    font-family: 'Times New Roman', Times, serif;
    color: #c9ada7;
    text-decoration: underline;
}

body {
    margin: 0 !important;
    display:block;
}

.optns {
    width: 90%;
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    margin-left: 5%;
    
}

.resvr,
.p-u-oda {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #f2e9e4;
    background-color: #4a4e69;
    height: 50px;
    border-radius: 20%;
}

.e-i-direct {
    text-align: right;
    width:90%;
    margin-top: 55px;
    margin-left: 5%;
}

.e-i-direct-btn {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #4a4e69;
    background-color: #f2e9e4;
    height: 20px;
    text-decoration: underline;
    border-radius: 15%;
}

.extra-info{
    width:100%;
    display: block;
    height: 300px;
    background-color: #4a4e69;
    margin: 0;
  
}
.menu,
.address,
.contact-info{
    width: 20%;
    float: right;
    text-align: center;
    padding-top: 20px;
}

.c-i,
.add,
.menu-a{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:#f2e9e4;
    float: center;
    text-transform: uppercase;
    
}

.c-i-a,
.add-a{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #f2e9e4;
    float: center;
}


.menu-a{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:#f2e9e4;
    float: center;
    text-transform: uppercase;
}

